<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Assesment</title>
    <script  src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>



  <div class="sec1">
    <div class="sec1-wrapper">
      <div class="logo">
        <h2 class="logo-title">slicedbread.agency</h2>
      <div class="login-header">

      </div>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>




      <div class="form-wrapper">
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group form-username">
            <label class="label">Username</label><br/>
            <input type="text" class="form username" name="username">
          </div>
          <div class="form-group form-password">
            <label class="label">Password</label><br/>
            <input type="password" class="form password" name="password">
          </div>

          <button type="submit" class="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
