<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <script  src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>
  <div class="sec1">
    <div class="sec1-wrapper transit">
      <div class="welcome-div">
        <a href="/logout" class="logout">Logout</a>
        <a href="/portal" class="back">Back</a>
      </div>
      <h2 class="welcome">Project 3</h2>
      <div class="underline"></div>
    </div>
  </div>
</body>
</html>
